.aboutHero {
  flex-direction: row;
  flex: 1;
  padding: 0;
  height: 300px;
  width: 100%;
  color: #000000;
  align-items: flex-start;
  justify-items: flex-start;
  border-top: 1px solid #000000;
}

.aboutHero__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  background-color: #616161;
  height: 300px;
  min-width: 50%;
  color: #000000;
  align-items: flex-start;
  justify-items: flex-start;
  margin: auto;
  z-index: 0;
  background-image: url("../media/images/about-00.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.aboutHero__right {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  height: 300px;
  width: 50%;
  right: 0;
  top: 102px;
  color: #000000;
  align-items: flex-start;
  justify-items: flex-start;
  margin: auto;
  background-image: url("../media/images/about-06.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  border-top: 1px solid #000000;
}

.aboutHero__belowSquareL {
  border: 1px solid #000000;
  width: 222px;
  height: 196px;
  position: absolute; 
  background-color: #000000;
  top: 310px;
  left: -455px;
}

.aboutHero__belowSquareR {
  border: 1px solid #000000;
  width: 222px;
  height: 196px;
  position: absolute; 
  background-color: #000000;
  top: 310px;
  left: -220px;
}

.container {
  padding: 0;
  flex-direction: row;
  background-color: #F8F8F8;
  min-height: 924px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rightVertical {
  position: absolute;
  width: 156px;
  height: 621px;
  left: 400px;
  top: 20px;
  margin: 0;
  background-color: #000000;
  background-image: url("../media/images/about-05.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.sliceZone {
  position: relative;
  border-top: 1px solid #000000;
  p {
    text-align: left;
    margin: 0 0 0 0;
  }
  max-width: 662px;
  margin: -300px 0 0 0;
  z-index: 200;
}

.sliceZone h1 {
  text-align: left;
  margin: -40px 0 20px 0;
  padding: 0;
  font-size: 30px;
  color: #000000;
}

.sliceZoneWhite {
  max-width: 462px;
  padding: 30px 90px 0 30px;
  background-color: #ffffff;
  z-index: 1;
}

@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {

}
