.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.formWrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
