.hero {
  flex-direction: row;
  flex: 1;
  padding: 0;
  background-color: #000000;
  max-height: 300px;
  width: 100%;
  color: white;
  justify-items: left;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
