
.smallerTitle {
  font-size: 24px;
  margin-right: -12px;
}

.stairTypesWrapper {
  padding: 0;
  min-width: 100%;
  max-width: 1100px;
  max-height: 300px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.stairTypesLeft {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 546px;
  min-width: 546px;
  height: 300px;
  background-color: #eaeaea;
}

.stairTypesRight {
  justify-items: left;
  background-color: #3f3f3f;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: #eaeaea;
  padding: 10px 15px 40px 15px;
  justify-content: space-around;
  align-items: left;
  min-width: 260px;
  max-width: 260px;
  height: 300px;
  text-align: left;
}

.stairTypesTitle {
  font-size: 52px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color:#000000;
  line-height: 1.2;
  position: absolute;
  bottom: 4px;
}

.stairTypesMiddle {
  background-color: rgba(167, 167, 167, 0.2);
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 1px solid ;
  justify-content: space-between;
  align-items: flex-start;
  color:#000000;
  min-width: 300px;
  max-width: 100%;
  max-height: 300px;
  padding: 40px 20px 0 20px;
  h1 {
    font-size: 4.5em;
    color: #FFFFFF;
  }
}


@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
