.container {
  padding: 0;
}

.toolsWrapper {
  position: absolute;
  right: 0;
  top: 40px;
  width: 130px;
  height: 30px;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: flex-start;
  color: rgb(108, 108, 108);
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
