.container {
  padding: 0;
}

.icon {
  margin: 14px 14px 26px 34px;
}

.navWrapper {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  justify-content: center;
  align-items: flex-end;
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
}

.pageButtonsWrapper {
  width: 500px;
  border-left: 1px solid black;
}

.pageButton {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 34px;
  float: left;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.75px;
  cursor: pointer;
}

.pageButtonDim {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 34px;
  float: left;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  font-family: 'EB Garamond', serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.75px;
  cursor: pointer;
  opacity: 0.5;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
