.expand {
  position: absolute;
  right: 0;
  margin: 12px 220px 0 0;
  cursor: pointer;
  z-index: 100;
}

.visualizer {
  display: flex;
  width: 75%;
  height: 620px;
  margin: auto;
  border: 1px solid #000000;
  margin-top: 100px;
  justify-content: center;
  align-content: center;
}

.visualizerControls {
  position: absolute;
  z-index: 900;
  cursor: pointer;
  bottom: 70px;
  text-align: center;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 50px;
}

.visualizerCover {
  width: 620px;
  height: 620px;
  margin: -620px auto 0 auto;
  background-color: #ff0000;
  opacity: 1;
  z-index: 1;
}

.visualizerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
