.visualizer {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: visible;
  justify-content: center;
}

.visualizerThree {
  height: 1200px;
  margin: auto;
  overflow: visible;
}

.visualizerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
